{% extends 'layouts.html' %}

{%block contentA%}

<link rel="stylesheet" href="/static/css/about.css">

<div class="about">


    <img src= "static/images/banner.jpg" class="rounded mx-auto d-block" alt="...">

    <p>

        Ace Attorney was founded with the goal of making high-quality legal representation available to everyone. Today our office represents plaintiffs in all types of claims. For the past several  years our attorneys and support teams have been focused on providing compassionate, straightforward legal representation for victims in New York. Since our founding, Ace Attorney has grown to become one of the well-known and most innovative law firms in our area.  
        
        We are dedicated to providing our clients with personal service and legal representation while preserving your dignity and privacy. We strive to keep all communications very clear and straightforward and will also provide case evaluations so that you fully comprehend your case. As an Ace Attorney client, you will have a dedicated legal team, led by an experienced attorney, and your team will have the expertise necessary to meet the unique needs of your case.
    </p>

</div>




{%endblock contentA%}