{% extends 'layouts.html' %}
{%block contentA %}



<link rel="stylesheet" href="/static/css/lawyers.css">

<div class="law-container">

<div class="lawyer-box">
    <div>
        <h5 align="center">Robert Morgan</h5>
        <h8 align="center">Senior Partner</h8>
        <p>Expert in Estate, and Real  Estate for 25 years</p>
        <img class="lawyer-image" src="/static/images/robertmorgan.jpg" alt="">
    </div>
</div>

<div class="lawyer-box">
    <div>
        <h5 align="center">Mario Gonzalez</h5>
        <h8 align="center">Senior Partner</h8>
        <p>Expert in Family law such as divorce, child custody, etc. for 20 years</p>
        <img class="lawyer-image" src="/static/images/mariogonzales.jpg" alt="">
    </div>
</div>

<div class="lawyer-box">
    <div>
        <h5 align="center">Jose Amato</h5>
        <h8 align="center">Real Estate</h8>
        <p>Specialty in Real Estate matters</p>
        <img class="lawyer-image" src="/static/images/joseamato.jpg" alt="">
    </div>
</div>

<div class="lawyer-box">
    <div>
        <h5 align="center">Jennifer Fernandez</h5>
        <h8 align="center">Estate Law</h8>
        <p>specialty in Estate Law</p>
        <img class="lawyer-image" src="/static/images/jenniferfernandez.jpg" alt="">
    </div>
</div>

<div class="lawyer-box">
    <div>
        <h5 align="center">Patrick Jung</h5>
        <h8 align="center">Family Law</h8>
        <p>Specialty in Family Law</p>
        <img class="lawyer-image" src="/static/images/patrickjung.jpg" alt="">
    </div>
</div>

<div class="lawyer-box">
    <div>
        <h5 align="center">Richard Miller</h5>
        <h8 align="center">Small Business</h8>
        <p>Specialty in Small business matters</p>
        <img class="lawyer-image" src="/static/images/richardmiller.jpg" alt="">
    </div>
</div>

</div>

{%endblock contentA %}